body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-size: 16px;
  color: var(--color-black);
  background-color: var(--color-light);
  // TODO: раскомментировать в конце разработки
  //  @media (prefers-color-scheme: dark) {
  //    background-color: var(--color-black);
  //    color: var(--color-light);
  //  }
}

main {
  flex-grow: 1;
}

h1, .h1 {
  @include fluid-text(64, 20);

  font-weight: 700;
}

h2, .h2 {
  @include fluid-text(35, 19);

  font-weight: 700;
}

h3, .h3 {
  @include fluid-text(25, 18);

  font-weight: 600;
}

h4, .h4 {
  @include fluid-text(20, 18);

  font-weight: 500;
}

h5, .h5 {
  font-size: 18px;

  font-weight: 500;
}

h6, .h6 {
  font-size: 16px;

  font-weight: 500;
}

/* TODO: раскомментировать в конце разработки
input {
  @media (prefers-color-scheme: dark) {
    color: var(--color-light);
    background-color: var(--color-blue-1);
  }
}
*/

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(44px);

      content: '';
    }
  }
}

:focus-visible {
  @include focus-visible;
}