.button {
  @include flex-center(true);

  column-gap: fluid(10, 4);
  padding: 6px 15px;
  font-family: var(--font-family-accent);
  font-weight: 500;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-accent);
  border: none;
  border-radius: var(--border-radius-s);
  user-select: none;
  cursor: pointer;

  @include hover {
    color: var(--color-light);
    background-color: var(--color-blue-2);
  }

  &:active {
    scale: 1.05;
  }

  @include disabled;


  &--circle {
    @include square(36px);
    padding: 0;
    border-radius: 50%;
  }

  &--right-round {
    padding-left: 10px;
    border-radius: 0 var(--border-radius-s) var(--border-radius-s) 0;
  }

  &--anchor {
    color: var(--color-blue-4);
    padding: 0;
    text-decoration: underline;
    text-underline-position: under;
    border-radius: 0;
    background: none;

    @include hover {
      color: var(--color-black);
      background: none;
    }
  }
}