.header {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  font-family: var(--font-family-accent);
  font-weight: 300;
  padding-block: fluid(16, 13);
  background-color: inherit;
  box-shadow: var(--shadow);

  &__inner {
    display: grid;
    row-gap: 15px;
  }

  &__top,
  &__bottom {
    column-gap: 20px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__bottom {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: end;
    column-gap: 20px;
  }

  &__contact-links {
    font-weight: 400;
  }

  &__bottom-left,
  &__bottom-right {
    display: inline-flex;
    align-items: center;
    column-gap: 25px;
  }
}